$opaque: rgb(226,226,226, 0.4)
  
*
  padding: 0px
  margin: 0px

.material-icons, .fas
  color: white

.opaque
  opacity: 0.6

.logo
  color: white
  width: 22px

body
  height: 100vh
  display: grid
  grid-template-columns: 60px 1fr
  background-color: $opaque

#nav-container
  grid-column: 1
  grid-row: 1
  display: grid
  grid-template-rows: 20% 55% 1fr 4%
  background-image: linear-gradient(#db3353, #8a297a)
  box-shadow: 2px 0px 2px #888888

#nav-top-container
  grid-row: 1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  padding: 10px
  border-bottom: 1px solid $opaque

#nav-middle-container
  grid-row: 2
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  padding-top: 10px

#nav-bottom-container
  grid-row: 4
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  border-top: 1px solid $opaque
